html,
body {
  height: 98%;
  width: 98%;
  background-color: #f2f2f2;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-title {
  margin: 0px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-players {
  display: flex;
}

.home-player {
  font-size: 20px;
  border: 1px solid black;
  padding: 6px;
}

.home-select {
  margin: 10px;
  font-size: 20px;
}

.home-button {
  margin: 10px;
  font-size: 20px;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-location-container {
  width: 80%;
}

.game-location {
  background-color: white;
  border: 1px solid black;
  padding: 2px;
  display: inline-block;
  width: 48%;
}

.location-unselected {
  background-color: white;
}

.location-selected {
  background-color: red;
}

.game-location:hover {
  cursor: pointer;
}

.game-button {
  margin: 20px;
}

.game-button-clicked {
  background-color: red;
}
